{% extends "base.html" %}
{% block content %}

<form class="forms" action="/products/{{product.id}}" method="post">
  <div class="form_options">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="{{product.name}}" required>
  </div>

  <div class="form_options">
    <label for="description">Description:</label>
    <input type="text" id="description" name="description" value="{{product.description}}" required autofocus>
  </div>

  <div class="form_options">
    <label for="stock">Stock:</label>
    <input type="text" id="stock" name="stock" value="{{product.stock}}" required autofocus>
  </div>

  <div class="form_options"
    <label for="buy_price">Buy Price:</label>
    <input type="text" id="buy_price" name="buy_price" value="{{product.buy_price}}" required autofocus>
  </div>

  <div class="form_options">
    <label for="sell_price">Sell Price:</label>
    <input type="text" id="sell_price" name="sell_price" value="{{product.sell_price}}" required autofocus>
  </div>


  <div class="form_options">
    <label for="manufacturer"> Manufacturer: </label>
    <select id="manufacturer" name="manufacturer_id">
      {% for manufacturer in all_manufacturers %}
        <option value="{{ manufacturer.id }}"
          {% if product.manufacturer.id == manufacturer.id %} selected="selected"{% endif %}>
          {{ manufacturer.name }}
        </option>
      {% endfor %}
    </select>
  </div>

  <button class="buttons" type="submit">Update Product</button>

</form>

{% endblock %}