{% extends "base.html" %}
{% block content %}

<TABLE  WIDTH="100%"   CELLPADDING="4" CELLSPACING="3">
  <TR class="table_headers">
     <TH COLSPAN="7"><BR><H2>Products</H2>
     </TH>
  </TR>
  <TR class="col_headers">
     <TH>Name</TH>
     <TH>Description</TH>
     <TH>Stock</TH>
     <TH>Buy Price</TH>
     <TH>Sell Price</TH>
     <TH>Manufacturer</TH>
     <TH>Edit</TH>
     <TH>Delete</TH>
  </TR>
  {% for product in all_products %}
  <TR ALIGN="CENTER">
    <TD class="table_info">{{product.name}}</TD>
    <TD class="table_info">{{product.description}}</TD>
    <TD class="table_info">{{product.stock}}</TD>
    <TD class="table_info">{{product.buy_price}}</TD>
    <TD class="table_info">{{product.sell_price}}</TD>
    <TD class="table_info">{{product.manufacturer.name}}</TD>
    <TD><a href="products/{{product.id}}/edit"><button class="buttons">Edit</button></a></TD>
    <TD><form action="products/{{product.id}}/delete" method="POST"><button class="buttons">Delete</button></form></TD>
      
  </TR>      
  {% endfor %}
</TABLE>

<a href="products/new"><button class="buttons">Add Product</button></a>


{% endblock %}
