{% extends "base.html" %}
{% block content %}

<div class="form_headers">
    <h2>Edit Product</h2>
  </div>  

<form class="forms" action="/manufacturers/{{manufacturer.id}}" method="post">
  <div class="form_options">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="{{manufacturer.name}}" required>
  </div>

  <div class="form_options">
    <label for="contact">Contact:</label>
    <input type="text" id="contact" name="contact" value="{{manufacturer.contact}}" required autofocus>
  </div>

  <button class="buttons" type="submit">Update Manufacturer</button>
  
</form>

{% endblock %}