body {
    font-family: "Bebas Neue", arial, sans-serif; font-size: 16px;  
    margin: 0;
  }
  
  /* Header/Logo Title */
  .header {
    padding: 60px;
    text-align: center;
    background: rgb(0, 0, 0);
    color: rgb(255 113 165);
    font-family:"Bebas Neue", arial, sans-serif; font-size: 30px;
    background-image: url("images/bottles.jpg");
  }
  .perfume_cta {
    padding-top: 50px;
    text-align: center;
    background: black;
    color: rgb(252, 250, 230);
    font-size: 30px;
    width: 250px;
    height: 85px;
  }
  
  /* Page Content */
  .home_button {
      padding:20px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
}


  
  .menu {
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      background-color: rgb(255, 103, 148);
      color: white;
      font-family: "Bebas Neue", Helvetica, sans-serif; font-size: 16px;
  }

  .container{
    display: inline-flexbox;
    width: 900px;
    margin: 0 auto;
    background: rgb(255, 103, 148);
    color: white;

  }

  .table_headers {
      background-color: black;
  }

  .col_headers {
      background-color: black;
  }

 .buttons {
     padding: 3px;
     display: inline-block;
     border-radius: 12px;
     background-color: black;
     color: blanchedalmond;
 }
