body {
    font-family: "Bebas Neue", arial, sans-serif; font-size: 16px;  
    margin: 0;
  }
  
  /* Header/Logo Title */
  .header {
    padding: 60px;
    text-shadow: 2px 2px rgb(97, 5, 40);
    text-align: center;
    background: rgb(0, 0, 0);
    color: rgb(255 113 165);
    font-family:"Bebas Neue", arial, sans-serif; font-size: 30px;
    background-image: url("images/bottles.jpg");
  }
  .perfume_cta {
    padding-top: 50px;
    text-align: center;
    background: black;
    color: rgb(255, 103, 148);
    font-size: 30px;
    width: 250px;
    height: 85px;
  }
  
  /* Page Content */
  .home_button {
      padding:20px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      
}


  
  .menu {
      padding: 25px;
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      background-color: rgb(255, 103, 148);
      color: white;
      font-family: "Bebas Neue", Helvetica, sans-serif; font-size: 16px;
  }

  .container{
    width: 900px;
    height: 500px;
    margin: 0 auto;
    background: rgb(255, 103, 148);
    color: blanchedalmond;
    background-image: url("images/bottles.jpg");

  }

  .table_headers {
      background-color: black;
      width: fit-content;
  }

  .col_headers {
      background-color: black;
      color: rgb(255, 103, 148);
  }

 .buttons {
     padding: 3px;
     display: flex;
     border-radius: 6px;
     background-color: black;
     color: rgb(255, 103, 148);
     float: left;
     cursor: pointer;
     font-family: "Bebas Neue", Helvetica, sans-serif;
 }

 .form_options {
     background-color: black;
     padding: 5px;
     display: flex;
     flex-direction: row;
     justify-content: left;
     align-content: center;
 }

 .forms {
    padding: 40px;
    margin: auto;
 }

 .table_info {
     background-color: black;
 }

 .form_headers {
     padding: 10px;
     background-color: black;
     color: rgb(255, 103, 148);
     text-align: center;
     font-family:"Bebas Neue", arial, sans-serif; font-size: 20px;
 }

 .about {
     background-color: black;
     color: blanchedalmond;
     text-align: center;
     margin: 30px;
     padding: 20px;
 }

 .main_buttons {
    padding: 20px;
    display: flex;
    border-radius: 2px;
    background-color: black;
    color: blanchedalmond;
    float: left;
    cursor: pointer;
    font-family: "Bebas Neue", Helvetica, sans-serif;
    font-size: 30px;
    

 }

.low_stock {
    color: yellow;
}

.no_stock {
    color: crimson;
}